In [28]:
from pathlib import Path
import pandas as pd
from pam.core import Person
from pam.activity import Activity, Leg, Plan
from pam.scoring import CharyparNagelPlanScorer
from pam.utils import minutes_to_datetime

In [3]:
dir = Path("C:/Users/fred/Projects/caveat/logs/seq2seq/version_0")
x_path = dir / "test_input.csv"
y_path = dir / "pred.csv"

x = pd.read_csv(x_path)
y = pd.read_csv(y_path)

In [10]:
matches = 0
misses = 0
for (_, i), (_, j) in zip(x.groupby("pid"), y.groupby("pid")):
    if list(i.act) == list(j.act):
        matches += 1
    else:
        misses += 1

print(f"matches: {matches}, misses: {misses}")

matches: 127, misses: 1

In [33]:
x.head(30)

    Unnamed: 0  pid           act  start   end  mode   distance  duration
0            0    0          home      0   510   NaN   0.000000       510
1            1    0        travel    510   540  walk   0.737521        30
2            2    0     education    540   900   NaN   0.000000       360
3            3    0        travel    900   930  walk   0.737521        30
4            4    0          home    930  1440   NaN   0.000000       510
5            5    1         other      0   694   NaN   0.000000       694
6            6    1        travel    694   778   car  58.775318        84
7            7    1         other    778  1440   NaN   0.000000       662
8            8    2          home      0   390   NaN   0.000000       390
9            9    2        travel    390   400   bus   1.960758        10
10          10    2          work    400   870   NaN   0.000000       470
11          11    2        travel    870   880   bus   1.960758        10
12          12    2          home    880  1440   NaN   0.000000       560
13          13    3          home      0   540   NaN   0.000000       540
14          14    3        travel    540   550   car   1.632277        10
15          15    3         other    550  1065   NaN   0.000000       515
16          16    3        travel   1065  1075   car   1.632277        10
17          17    3          home   1075  1439   NaN   0.000000       364
18          18    4          home      0   945   NaN   0.000000       945
19          19    4        travel    945   971   car   8.629318        26
20          20    4  escort_other    971   995   NaN   0.000000        24
21          21    4        travel    995  1035   car   8.629318        40
22          22    4          home   1035  1440   NaN   0.000000       405
23          23    5          home      0   449   NaN   0.000000       449
24          24    5        travel    449   471  walk   0.931920        22
25          25    5          work    471  1189   NaN   0.000000       718
26          26    5        travel   1189  1191   car   0.931920         2
27          27    5          home   1191  1440   NaN   0.000000       249
28          28    6          home      0   578   NaN   0.000000       578
29          29    6        travel    578   597   car   2.067617        19

In [71]:
config = {
    "default": {
        "mUM": 10,
        "utilityOfLineSwitch": -1,
        "performing": 6,
        "waiting": -0,
        "waitingPt": -1,
        "lateArrival": -18,
        "earlyDeparture": -10,
        "work": {
            "typicalDuration": "08:00:00",
            "openingTime": "06:00:00",
            "closingTime": "20:00:00",
            "latestStartTime": "09:30:00",
            "earliestEndTime": "16:00:00",
            "minimalDuration": "01:00:00",
        },
        "home": {"typicalDuration": "12:00:00", "minimalDuration": "05:00:00"},
        "depot": {"typicalDuration": "00:12:00"},
        "delivery": {"typicalDuration": "00:30:00"},
        "education": {
            "typicalDuration": "08:00:00",
            "openingTime": "08:30:00",
            "closingTime": "17:30:00",
            "latestStartTime": "09:00:00",
            "earliestEndTime": "17:00:00",
            "minimalDuration": "03:00:00",
        },
        "shop": {
            "typicalDuration": "00:30:00",
            "openingTime": "06:00:00",
            "closingTime": "20:00:00",
        },
        "other": {"typicalDuration": "00:30:00"},
        "visit": {"typicalDuration": "00:30:00"},
        "escort_other": {"typicalDuration": "00:30:00"},
        "escort_shop": {"typicalDuration": "00:30:00"},
        "escort_education": {"typicalDuration": "00:30:00"},
        "escort_work": {"typicalDuration": "00:30:00"},
        "escort_business": {"typicalDuration": "00:30:00"},
        "business": {"typicalDuration": "03:00:00"},
        "medical": {"typicalDuration": "03:00:00"},
        "car": {
            "constant": -10,
            "dailyMonetaryConstant": -1,
            "dailyUtilityConstant": -1,
            "marginalUtilityOfDistance": -0.001,
            "marginalUtilityOfTravelling": -1,
            "monetaryDistanceRate": -0.0001,
        },
        "walk": {"constant": -20},
    }
}
scorer = CharyparNagelPlanScorer(config)


def to_datetime(hours):
    return minutes_to_datetime(hours * 60)


def score_schedule(schedule):
    plan = Plan()
    for _, row in schedule.iterrows():
        start, end = to_datetime(row.start), to_datetime(row.end)
        if row.act == "travel":
            plan.add(
                Leg(
                    mode="car",
                    start_time=start,
                    end_time=end,
                    distance=row.distance/1000,
                )
            )
        else:
            plan.add(Activity(act=row.act, start_time=start, end_time=end))
    return scorer.score_plan(plan, config["default"])

In [72]:
deltas = []
for (_, i), (_, j) in zip(x.groupby("pid"), y.groupby("pid")):
    deltas.append(score_schedule(j) - score_schedule(i))

In [73]:
sum(deltas) / len(deltas)

-1140.8603059023383

In [74]:
deltas

[63.52680445961721,
 -11.000829896385198,
 -1570.4714097385788,
 -161.21839203096647,
 -109.94053090243432,
 -3195.8837054364153,
 256.68256919804037,
 1514.1467672034632,
 -10907.118279925344,
 -68.32447944225245,
 -186.56845530099423,
 -93.53554870920352,
 -91.9898640212453,
 -192.33379158101573,
 -19207.50256762041,
 2295.612486400327,
 8015.033087630858,
 10523.531280731404,
 -117.51099788872503,
 2320.2054100517744,
 -70.00279758477996,
 -164.88649791456646,
 -57.546961430839815,
 -41.00093543515396,
 15916.069179202355,
 8159.164773436592,
 12510.136136756722,
 -134.72234637627668,
 9864.072150374646,
 -1246.9159469417623,
 5462.716933631015,
 -11356.727476639704,
 -114.35783578461457,
 -20104.16777046663,
 -42821.21226217167,
 -11845.221324965925,
 -181.1602272359305,
 -14754.72315455386,
 -12984.449925475597,
 -115.00914148048403,
 -4741.834460654437,
 -217.24675867922082,
 11729.715622189271,
 -3454.541742518154,
 -113.93281016406723,
 118.31968453263107,
 -136.51537692646377,
 -102.83348738394987,
 4.337238271424667,
 -206.03513674186837,
 -149.83577601039067,
 -21203.747322910953,
 -149.33409558130498,
 -804.2054492867665,
 -133.0472711851471,
 7666.515670470315,
 -341.9300239158133,
 1881.0398065695524,
 -102.38521985290517,
 309.5672282371846,
 -157.96270772219728,
 -298.87016236295796,
 -183.9449150510975,
 -35.66349391357295,
 -71.61274480347157,
 -134.46157608720608,
 -9272.80565861224,
 -13301.639620855014,
 -240.9427498880505,
 9732.644119197099,
 -21476.25190504399,
 -47.2470124170234,
 -1546.550236791527,
 -259.61104677668607,
 -172.9689085755109,
 -117.48269277328006,
 -152.12410874482768,
 1012.7087592576609,
 -9162.957588291354,
 -137.40809455963068,
 -177.0981881468164,
 -155.7729575502191,
 10403.778034123397,
 -121.37627574435227,
 -264.5296692732931,
 -10683.778976511643,
 8237.303673383245,
 -9911.159134988502,
 -70.65209151623259,
 -269.02411615072174,
 -79.62904243904643,
 1067.093813331244,
 -18784.278726869736,
 13.933239876364837,
 -43.79269138459297,
 -9.575854287275547,
 44.88051686168558,
 -190.4114732493499,
 -162.3914640754387,
 -168.4399068481787,
 -77.2192387062131,
 -0.48543477959916004,
 -184.98939707576164,
 -50.74154925461349,
 -1122.2433309475016,
 1721.768835746916,
 -149.95814953991996,
 20321.667149430687,
 -150.57120198284673,
 -9705.322713331429,
 -34.24769546016904,
 -48.648416404861536,
 10304.45247080064,
 26558.312100631232,
 -121.13525015801281,
 -173.58246612241393,
 -9967.886213687254,
 -121.74982553668417,
 -1756.3355975931286,
 -91.53249843806617,
 -18712.95758367439,
 -73.8492966364455,
 -17.610170681393043,
 -116.63894385734562,
 -110.64795414513019,
 -179.74002857561146,
 -117.48837347915048,
 -9348.12918635048]

In [75]:
x.tail(5)

     Unnamed: 0  pid        act  start   end mode  distance  duration
851         851  127       home      0   803  NaN  0.000000       803
852         852  127     travel    803   817  car  4.322782        14
853         853  127  education    817   842  NaN  0.000000        25
854         854  127     travel    842   854  car  4.322782        12
855         855  127       home    854  1440  NaN  0.000000       586

In [76]:
y.tail(5)

     Unnamed: 0  pid        act  start   end mode    distance  duration
851         851  127       home      0   570  NaN  473.527618       570
852         852  127     travel    570   638  car  473.687744        68
853         853  127  education    638  1056  NaN  473.779144       418
854         854  127     travel   1056  1147  car  473.661072        91
855         855  127       home   1147  1651  NaN  473.748260       504

In [82]:
print(score_schedule(x[x.pid == 127]))
print(score_schedule(y[y.pid == 127]))

8392.017206413402
-956.1119799370765